{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-3">{{ SITETITLE }}</h1>
    <p class="lead">{{ SITESUBTITLE }}</p>
    <hr class="my-4">
    <p>{{ SITEDESCRIPTION }}</p>
    <p class="lead">
    {% if FEED_ALL_ATOM %}
    <a class="btn btn-primary btn-lg" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" role="button">Subscribe</a>
    {% elif FEED_ALL_RSS %}
    <a class="btn btn-primary btn-lg" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" role="button">Subscribe</a>
    {% endif %}
    </p>
</div>

<ul>
{% for article in articles_page.object_list %}
    <li>
        <a href="{{ SITEURL  }}/{{ article.url  }}{% if not DISABLE_URL_HASH %}#{{ article.slug  }}{% endif %}">{{ article.title }}</a>-<small class="text-muted"> {{article.locale_date}} </small>
    </li>
{% endfor %}
</ul>

{% include "partial/pagination.html" %}

{% endblock %}
